*{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.5cm;
    float: left;
}

body{
    align-items: center;
}

.titulo{
    border: 2px solid black;
    width: 1270px;
    text-align: center;
    background-color: rgb(191, 144, 235);
}

.box{
    border: 2px solid black;
    text-align: center;
    width: 200px;
    padding: 1px;
    display: table-column;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgb(191, 144, 235);
}

.cor{
    background-color: rgb(223, 189, 255);
}

